
@font-face {
  font-family: 'silk serif';
  src: url('./silkserif-regularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Plain Light';
  src: url('./plain-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Plain Light";
}

html , body{
    height: 100%;
    width: 100%;
    cursor: none;
}
#crsr{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    position: fixed;
    background-color: transparent;
    z-index: 999;
    border: 1px solid #ffffffdf;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    position: fixed ;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: #000000;
    padding: 25vh 10vw;
    
}
.line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    overflow: hidden;
    gap: 3vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: fit-content;
}
#line1-part1 h5, #line1-part1 h6{
     font-size:4vw;
     font-family: 'silk serif';
}
#line1-part1 h5{
    width: 5vw;
}
.line h1{
    font-size:6.5vw;
    text-transform: uppercase;
    font-weight: 500;
}
.line h2{
    font-size: 6vw;
    text-transform: uppercase;
    font-family: 'silk serif';
    animation: anime 2s infinite;
    height: 8vw ;
    font-weight: 500;
}

@keyframes anime {
    0%{
        font-family: 'Plain Light';
        -webkit-text-stroke: 1px #fff;
        color:white;
        opacity: 1;
        
    }
    47%{
        font-family: 'Plain Light';
        -webkit-text-stroke: 1px #fff;
        color:white;
        opacity: 0;
        
    }
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1;
        
    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
    }

}
#main{
    position: relative;
    background-color: #030303;
}

#page1{
    height:100vh;
    width: 100%;
    background-color: #151515;
} 
#page1 #nav{
    display: flex;
    align-self: center;
    justify-content: space-between;
}
.brand__svg{
    margin: 4vw 6vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    font-weight: 100;
    margin-right: 4vw;
}
#nav-part2 h4 {
  padding: 4vw 1.5vw;   /* 👈 creates magnet zone */
}

.hero{
    width: 72%;
    margin-left: 28%;
    
}
.hero:nth-child(2){
    margin-top: 15vh;
}
.hero h1{
   
    font-size: 7.2vw;
    text-transform: uppercase;
    line-height: 7vw;
    
}


